anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
configparser
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
idna
inflection
ipykernel
ipython
ipython-genutils
japanize-matplotlib
jedi
Jinja2
json5
jsonschema
jupyter-core
jupyter-server
jupyter_client
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numexpr
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
Quandl
requests
Send2Trash
six
sniffio
soupsieve
stack-data
tables
terminado
tinycss2
tomli
tornado
traitlets
tstables
urllib3
wcwidth
webencodings
websocket-client
